{% extends 'base.html.twig' %}

{% block title %}Hello CarrierCalculateFormController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Calculate shipping costs</h1>

    <form class="api-shipping-calculate" action="/api/shipping/calculate" method="post" id="shipping-calculate-form">
        <div>
            <label for="{{ carrier_weight_field }}">Weight:</label>
            <input type="number" id="{{ carrier_weight_field }}" name="{{ carrier_weight_field }}" min="0" max="100" required/>
        </div>

        <div>
            <label for="{{ carrier_slug_field }}">Carrier:</label>
            <select class="carrier-select" name="{{ carrier_slug_field }}" required>
            {% for carrier in carriers %}
                <option value="{{ carrier.getSlug() }}">{{ carrier.getName() }}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit">Calculate price</button>
        </div>
        <div class="success_message" style="display:none; color:green"></div>
        <div class="error_message" style="display:none;color:red"></div>
    </form>

    <script type="module" src="/media/js/carrier_calculate_form/index.js" fetchpriority="low"></script>
</div>
{% endblock %}
